<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">All Your Favorite Items</h1>
    </div>
  </div>
</header>
<!-- Section-->
<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
    <div
      class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center"
      *ngIf="wishList.length > 0; else noWishList"
    >
      <div class="col mb-5" *ngFor="let obj of wishList">
        <div class="card h-100">
          <!-- Sale badge-->
          <div
            class="badge bg-dark text-white position-absolute"
            style="top: 0.5rem; right: 0.5rem"
          >
            Sale
          </div>
          <!-- Product image-->
          <img class="card-img-top" src="{{ obj?.image }}" alt="..." />
          <!-- Product details-->
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Product name-->
              <h5 class="fw-bolder">{{ obj?.name }}</h5>
              <!-- Product price-->
              <!-- <span class="text-muted text-decoration-line-through"
                >$50.00</span
              > -->
              ${{ obj?.price }}
            </div>
          </div>
          <!-- Product actions-->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center" (click)="removeWishList(obj?.id)">
              <a class="btn btn-outline-dark mt-auto">Remove from cart</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<ng-template #noWishList>
  <div style="margin-top: 5%; display: flex; justify-content: center">
    <h1>{{ loadingWishList ? "Loading ..." : "No Data Available :(" }}</h1>
  </div>
</ng-template>
