<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row mb20">
      <div class="col-md-6 offset-md-3">
        <mat-card>
          <div class="container text-center">
            <img src="../../../assets/icon.png" height="105px" alt="" />
          </div>
          <h1 class="text-center">Register Here!!</h1>

          <!-- {{user | json}} -->

          <form (ngSubmit)="formSubmit()">
            <!--first name field-->
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>First name</mat-label>
              <input
                required
                [(ngModel)]="user.firstName"
                name="firstName"
                matInput
                placeholder="Enter here"
              />
              <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field>

            <!--Last name field-->
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Last name</mat-label>
              <input
                required
                [(ngModel)]="user.lastName"
                name="lastName"
                matInput
                placeholder="Enter here"
              />
              <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field>

            <!--email field-->
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>email address</mat-label>
              <input
                required
                [(ngModel)]="user.email"
                name="email"
                type="email"
                matInput
                placeholder="Enter here"
              />
              <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field>

            <!--username field-->
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Username</mat-label>
              <input
                required
                [(ngModel)]="user.username"
                name="username"
                matInput
                placeholder="Enter here"
              />
              <mat-hint>Usernmae must be unique.</mat-hint>
            </mat-form-field>

            <!--Password field-->
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>User Password</mat-label>
              <input
                required
                [(ngModel)]="user.password"
                name="password"
                type="password"
                matInput
                placeholder="Enter here"
              />
              <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field>

            <!--Phone no. field-->
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>phone</mat-label>
              <input
                required
                [(ngModel)]="user.phone"
                name="phone"
                type="number"
                matInput
                placeholder="Enter here"
              />
              <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field>
            <div class="container text-center">
              <button type="submit" mat-raised-button color="primary">
                Register
              </button>
              <button type="reset" class="ml20" mat-raised-button>Reset</button>
            </div>
          </form>
        </mat-card>
      </div>
    </div>
  </div>
</div>
