<div class="bgimg">
  <nav class="navbar navbar-expand-md navbar-dark">
    <div class="container">
      <a href="" class="navbar-brand font-weight-bold">NUTRITIONIST APP</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#collapsenavbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <ul class="navbar-nav navbar-right">
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/registration">Sign Up</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<div style="padding: 10px">
  <div class="container text-center mt">
    <span
      style="
        font-size: 30px;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bolder;
        padding-bottom: 10px;
      "
    >
      Welcome To Nutritionist App!!</span
    >
    <p
      style="
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bolder;
        padding-bottom: 10px;
      "
    >
      Our goal is to help you improve your health and well-being.
    </p>

    <div class="col-lg-12" style="margin-top: 20px">
      <!-- <img src="../../assets/img1.jpg" style="height: 300px; margin-right: 10px" /> -->

      <img
        src="../../../assets/img2.jpg"
        style="height: 300px; margin-right: 10px"
      />

      <img
        src="../../../assets/img3.jpg"
        style="height: 300px; margin-right: 10px"
      />

      <img
        src="../../../assets/img3.jpg"
        style="height: 300px; margin-right: 10px"
      />

      <img
        src="../../../assets/img4.jpg"
        style="height: 300px; margin-right: 10px"
      />
    </div>
  </div>
</div>

<br />

<div class="footer-basic mt">
  <footer>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Home</a></li>
      <li class="list-inline-item"><a href="#">Services</a></li>
      <li class="list-inline-item"><a href="#">About</a></li>
      <li class="list-inline-item"><a href="#">Terms</a></li>
      <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
    </ul>
    <p class="copyright">Nutrition app © 2022</p>
  </footer>
</div>
