<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <mat-card>
          <div class="container text-center">
            <img src="../../../assets/icon.png" height="105px" alt="" />
          </div>

          <h1 class="text-center">Login Here!!</h1>

          <form (ngSubmit)="formSubmit()">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Username</mat-label>
              <input
                required
                [(ngModel)]="user.username"
                name="username"
                matInput
                placeholder="Enter here"
              />
              <mat-hint>Valid Username</mat-hint>
            </mat-form-field>

            <!--Password field-->
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>User Password</mat-label>
              <input
                required
                [(ngModel)]="user.password"
                name="password"
                type="password"
                matInput
                placeholder="Enter here"
              />
              <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field>
            <div class="container text-center">
              <button mat-raised-button color="primary" type="submit">
                Login
              </button>
              <button class="ml10" mat-raised-button type="reset">Reset</button>
            </div>
          </form>
        </mat-card>
      </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
  </div>
</div>
