div#navbarNav {
    justify-content: end;
}

.navbar-light .navbar-nav .nav-link {
	font-size: 20px;
    color: black;
	text-shadow:none;
}

.header {
	margin: 5px auto ;
	padding: 5px;
	font-family: 'Raleway', sans-serif;
	text-shadow: 0 2px 10px black;
	text-overflow: ellipsis;
	width: 80%;
	border-radius: 40px;
	box-shadow: 2px 10px 20px #1c1c1c;
	z-index: 1;
}