
<div class="container-fluid" style="margin-top: 20px;">
    <h1 class="text-info text-center">My Favourites</h1>
    <div class="row" style="margin-top: 20px;">
        <div *ngFor="let newsData of favouriteNews" class="col-lg-3" style="margin-top: 20px; margin-bottom: 20px;" >
            <div class="box">
            <img src="{{newsData.urlToImage}}" width="100%" alt="">
            <h5 style="margin-top: 5px; margin-bottom: 3px;"><b>{{newsData.title}}</b></h5>
            <p>{{newsData.content}}</p>
        <!--    <h3>{{newsData.author}}</h3>   -->
        <div class="d-flex justify-content-between">
            <a class="btn btn-dark btn-sm" target="_blank" href="{{newsData.url}}">Read More</a>
            <button class="btn btn-danger btn-sm" (click)="deleteFavourite(newsData)">Remove</button>
        </div>
            
        </div>
        </div>
    </div>
</div>

<!-- <pre>{{favouriteNews | json}}</pre> -->
