<div class="container">
  <div class="col-md-6">
    <br />
    <h1>User Login Page</h1>
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
      <!-- error message -->
      <!--div th:if="${param.error}">
          <div class="alert alert-danger">Invalid username or
            password.</div>
        </div-->
      <!-- <div *ngIf="!status && message">
        <div class="alert alert-danger">{{ message }}</div>
      </div> -->

      <!-- error message -->
      <!-- <div
        *ngIf="(loginForm.controls['username'].invalid && (loginForm.controls['username'].dirty || loginForm.controls['username'].touched) && loginForm.controls['username'].errors.required)
      || (loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched) && loginForm.controls['password'].errors.required)">
        <div class="alert alert-danger">Username / Password is empty.</div>
      </div> -->

      <div class="form-group">
        <label for="username"> Username </label> :
        <input
          type="text"
          class="form-control"
          id="username"
          name="username"
          formControlName="userName"
          placeholder="xyz9999"
        />
      </div>

      <div class="form-group">
        <label for="password">Password</label>:
        <input
          type="password"
          id="password"
          name="password"
          formControlName="password"
          class="form-control"
          placeholder="********"
        />
      </div>

      <div class="form-group">
        <div
          class="col-sm-6 col-sm-offset-3"
          style="margin: auto; display: block"
        >
          <input
            type="submit"
            name="login-submit"
            id="login-submit"
            class="form-control btn btn-primary"
            value="Log In"
          />
        </div>
      </div>
    </form>
    <div
      class="form-group"
      style="margin: auto; display: block; text-align: center"
    >
      <span style="font-size: large; font-weight: bold"
        >New user?
        <a href="/" style="color: red" href="/registration"
          >Register here</a
        ></span
      >
    </div>
  </div>
</div>
