<div class="footer">

	<div class="footer-elements text-light text-center">
		<!-- Section: Social media -->
		<section class="d-flex justify-content-between p-4">
			<!-- Left -->
			<div class="me-5">
				<span>
					<a href ="https://openweathermap.org/">About Us</a></span>
				<span style="text-shadow: none;"> | </span>
				<span>
					<a href ="https://openweathermap.org/">Contact</a></span>
			</div>
			<!-- Left -->

			<!-- Right -->
			<div>
				<a href="https://www.facebook.com/" target="_blank">
					<i class="fa fa-facebook-f"></i>
				</a>

				<span> | </span>

				<a href="https://instagram.com/" target="_blank">
					<i class="fa fa-instagram"></i>
				</a>
			</div>
			<!-- Right -->
		</section>
		<!-- Section: Social media -->
	</div>
</div>